---
import Layout from 'layouts/BlogPost.astro'
import { useTranslations } from 'library/i18n'
import { langsArr } from 'types/index'

export async function getStaticPaths() {
  return langsArr.map((lang) => {
    return {
      params: {
        locale: lang,
      },
    }
  })
}

const { locale } = Astro.params
const t = useTranslations(locale)
---

<Layout
  title={t({ en: 'About', ja: 'アバウト' })}
  description={t({
    en: 'This is an about page.',
    ja: 'これはアバウトページです。',
  })}
  pubDate={new Date('August 08 2021')}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    {
      t({
        en: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
    integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu turpis
    egestas pretium. Euismod elementum nisi quis eleifend quam adipiscing. In
    hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat.
    Netus et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu
    non diam phasellus vestibulum lorem. Varius sit amet mattis vulputate enim.
    Habitasse platea dictumst quisque sagittis. Integer quis auctor elit sed
    vulputate mi. Dictumst quisque sagittis purus sit amet.`,
        ja: `この文章はただのサンプルです。レイアウト確認用のため、実際の内容とは関係ありません。デザインの見た目を評価する際に役立ちます。ここには任意のテキストが入り、フォントや行間、色のバランスを確認することができます。これは単にデザインのための一時的な文章であり、最終的なコンテンツではありません。文章の流れやレイアウトのバランスを視覚的に理解するために使用されます。デザインの試作段階で特に役立ち、実際の内容が決まるまでの間、このテキストが配置されます。これはデザインのプレビューを目的としているため、実際の文章とは異なります。フォントの大きさやスタイル、文字の配列など、視覚的な要素の確認に適しています。
`,
      })
    }
  </p>

  <p>
    {
      t({
        en: ` Morbi tristique senectus et netus. Id semper risus in hendrerit gravida
    rutrum quisque non tellus. Habitasse platea dictumst quisque sagittis purus
    sit amet. Tellus molestie nunc non blandit massa. Cursus vitae congue mauris
    rhoncus. Accumsan tortor posuere ac ut. Fringilla urna porttitor rhoncus
    dolor. Elit ullamcorper dignissim cras tincidunt lobortis. In cursus turpis
    massa tincidunt dui ut ornare lectus. Integer feugiat scelerisque varius
    morbi enim nunc. Bibendum neque egestas congue quisque egestas diam. Cras
    ornare arcu dui vivamus arcu felis bibendum. Dignissim suspendisse in est
    ante in nibh mauris. Sed tempus urna et pharetra pharetra massa massa
    ultricies mi.`,
        ja: `この文章はただのサンプルです。レイアウト確認用のため、実際の内容とは関係ありません。デザインの見た目を評価する際に役立ちます。ここには任意のテキストが入り、フォントや行間、色のバランスを確認することができます。これは単にデザインのための一時的な文章であり、最終的なコンテンツではありません。文章の流れやレイアウトのバランスを視覚的に理解するために使用されます。デザインの試作段階で特に役立ち、実際の内容が決まるまでの間、このテキストが配置されます。これはデザインのプレビューを目的としているため、実際の文章とは異なります。フォントの大きさやスタイル、文字の配列など、視覚的な要素の確認に適しています。`,
      })
    }
  </p>

  <p>
    {
      t({
        en: `Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque.
    Diam sit amet nisl suscipit. Lacus viverra vitae congue eu consequat ac
    felis donec. Egestas integer eget aliquet nibh praesent tristique magna sit
    amet. Eget magna fermentum iaculis eu non diam. In vitae turpis massa sed
    elementum. Tristique et egestas quis ipsum suspendisse ultrices. Eget lorem
    dolor sed viverra ipsum. Vel turpis nunc eget lorem dolor sed viverra.
    Posuere ac ut consequat semper viverra nam. Laoreet suspendisse interdum
    consectetur libero id faucibus. Diam phasellus vestibulum lorem sed risus
    ultricies tristique. Rhoncus dolor purus non enim praesent elementum
    facilisis. Ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed
    risus pretium quam vulputate. Viverra suspendisse potenti nullam ac tortor
    vitae purus faucibus ornare. Fringilla urna porttitor rhoncus dolor purus
    non. Amet dictum sit amet justo donec enim.`,
        ja: `この文章はただのサンプルです。レイアウト確認用のため、実際の内容とは関係ありません。デザインの見た目を評価する際に役立ちます。ここには任意のテキストが入り、フォントや行間、色のバランスを確認することができます。これは単にデザインのための一時的な文章であり、最終的なコンテンツではありません。文章の流れやレイアウトのバランスを視覚的に理解するために使用されます。デザインの試作段階で特に役立ち、実際の内容が決まるまでの間、このテキストが配置されます。これはデザインのプレビューを目的としているため、実際の文章とは異なります。フォントの大きさやスタイル、文字の配列など、視覚的な要素の確認に適しています。`,
      })
    }
  </p>

  <p>
    {
      t({
        en: `Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus
    imperdiet. Id porta nibh venenatis cras sed felis eget velit. Ipsum a arcu
    cursus vitae. Facilisis magna etiam tempor orci eu lobortis elementum.
    Tincidunt dui ut ornare lectus sit. Quisque non tellus orci ac. Blandit
    libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed
    pulvinar proin gravida. Egestas integer eget aliquet nibh praesent tristique
    magna.`,
        ja: `この文章はただのサンプルです。レイアウト確認用のため、実際の内容とは関係ありません。デザインの見た目を評価する際に役立ちます。ここには任意のテキストが入り、フォントや行間、色のバランスを確認することができます。これは単にデザインのための一時的な文章であり、最終的なコンテンツではありません。文章の流れやレイアウトのバランスを視覚的に理解するために使用されます。デザインの試作段階で特に役立ち、実際の内容が決まるまでの間、このテキストが配置されます。これはデザインのプレビューを目的としているため、実際の文章とは異なります。フォントの大きさやスタイル、文字の配列など、視覚的な要素の確認に適しています。`,
      })
    }
  </p>
</Layout>
