---
import type { Lang } from '../../types'
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'

const lang = Astro.currentLocale as Lang
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE[lang]} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE[lang]} />
    <main>
      <h1>🧑‍🚀 こんにちは、宇宙飛行士さん！</h1>
      <p>
        公式の<a href="https://astro.build/">Astro</a
        >ブログスターターテンプレートへようこそ。
        このテンプレートは、Astroを使って個人のウェブサイト、ブログ、またはポートフォリオを構築したい方のための、軽量で最小限のスタイルの出発点として機能します。
      </p>
      <p>
        このテンプレートには、<code>astro.config.mjs</code
        >ファイルで既に設定されているいくつかの統合が含まれています。
        <a href="https://astro.build/integrations">Astro統合</a
        >を使って、Tailwind、React、Vueなどのツールをプロジェクトに追加するカスタマイズが可能です。
      </p>
      <p>テンプレートを使い始めるためのいくつかのアイデアはこちらです：</p>
      <ul>
        <li><code>src/pages/index.astro</code>でこのページを編集する</li>
        <li
          ><code>src/components/Header.astro</code
          >でサイトヘッダー項目を編集する</li
        >
        <li
          ><code>src/components/Footer.astro</code
          >でフッターにあなたの名前を追加する</li
        >
        <li
          ><code>src/pages/blog/</code
          >に含まれているブログ投稿をチェックする</li
        >
        <li
          ><code>src/layouts/BlogPost.astro</code
          >でブログ投稿ページのレイアウトをカスタマイズする</li
        >
      </ul>
      <p>
        楽しんでください！もし行き詰まったら、<a
          href="https://docs.astro.build/">ドキュメントを読む</a
        >か、<a href="https://astro.build/chat">Discordで質問する</a
        >ことを忘れないでください。
      </p>
      <p>
        もう少し個性のあるブログテンプレートをお探しですか？<a
          href="https://github.com/Charca/astro-blog-template"
          >astro-blog-template</a
        >をチェックしてみてください。作成者は<a
          href="https://twitter.com/Charca">Maxi Ferreira</a
        >です。
      </p>
    </main>

    <Footer />
  </body></html
>
