---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { SITE_TITLE } from 'consts'
import { useTranslations } from 'library/i18n'
import type { Lang } from 'types'
import HeaderLink from './HeaderLink.astro'
import LangSelector from './lang-selector.astro'

const lang = Astro.currentLocale as Lang
const t = useTranslations(lang)
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE[lang]}</a></h2>
    <div class="internal-links">
      <HeaderLink href={getRelativeLocaleUrl(lang)}>
        {t({ en: 'Home', ja: 'ホーム' })}
      </HeaderLink>
      <HeaderLink href={getRelativeLocaleUrl(lang, 'blog')}>
        {t({ en: 'Articles', ja: '記事' })}
      </HeaderLink>
      <HeaderLink href={getRelativeLocaleUrl(lang, 'about')}>
        {t({ en: 'About', ja: 'アバウト' })}
      </HeaderLink>
    </div>
    <div class="language-switcher">
      {t({ en: 'Language ', ja: '言語 ' })}<LangSelector />
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  @media (max-width: 720px) {
    h2,
    .internal-links {
      align-self: flex-start;
    }
    .language-switcher {
      align-self: flex-end;
      margin-bottom: 1em;
    }
    nav {
      flex-direction: column;
    }
    nav a {
      padding: 0.5em 0;
    }
    nav a + a {
      margin-left: 1em;
    }
  }
</style>
