---
import { generateLocalePaths } from 'library/i18n'
---

<div class="custom-select">
  <select data-selector="lang-selector">
    {
      generateLocalePaths(Astro.url).map(({ path, lang, label }) => (
        <option
          label={label}
          value={path}
          selected={lang === Astro.currentLocale}
        />
      ))
    }
  </select>
</div>

<style>
  .custom-select {
    display: inline-block;
    position: relative;
  }

  select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }

  .custom-select::before,
  .custom-select::after {
    --size: 0.3rem;
    position: absolute;
    content: '';
    right: 1rem;
    pointer-events: none;
  }

  .custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
  }

  .custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
  }
</style>

<script>
  function changeLang(): void {
    const select = document.querySelector('[data-selector="lang-selector"]')
    if (!select) return

    select.addEventListener('change', (event) => {
      const target = event.target
      if (target instanceof HTMLSelectElement) {
        location.href = target.value
      }
    })
  }
  changeLang()
</script>
